/*-----------------------------------------------------------------------------
- Header
------------------------------------------------------------------------------*/
.header {
  .img {
    & img {
      max-width: 85% !important;
      margin-bottom: 2rem !important;
      // margin-left: 1rem !important;
      // margin-right: -1rem !important;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}
